#signup {
  padding-top: 40px;

  .mnb-delivery-box {
    text-align: center;
  }
  label {
    color:#06346E;
  }

  .submit-btn {
    width: 100%;
  }

  .signin-facebook {
    width: 100%;
    background-color: #06346E;
  }

}

#signup-benefits {
  margin-top: 50px;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 12px;;
  }
}